BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
LOCATE COMP    "clk" SITE "P6";
IOBUF PORT     "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25.0 MHz;
LOCATE COMP    "resetn" SITE "R7";
IOBUF PORT     "resetn" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP    "ws2812_dout" SITE "C4";
IOBUF PORT     "ws2812_dout" IO_TYPE=LVCMOS33 DRIVE=8;
